body{
    background-color: #CCCCCC;
    font-family: Arial, Helvetica, sans-serif;
    
    height: 100%;
}

.container{
    margin: auto;
    width: 750px;
    height: 775px;
    text-align: center;
    padding: 8px;
    padding-top: 4px;
    background: linear-gradient(180deg, rgba(33,13,37,1) 0%, rgba(67,22,75,1) 29%, rgba(99,31,111,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 15px;
  
  
}

.flex-container{
    display: flex;
    height: 70%;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(93,29,104,1) 0%, rgba(69,23,77,1) 29%, rgba(31,12,34,1) 100%);
    border-radius: 15px;
    
    }

.title{
    text-align: center;
    color: #f3d044;
    font-size: 30px;
    font-weight: 500;
    padding: 1rem;
}

.subtitle{
    text-align: center;
    color: #E3EAD7;
    font-size: 15px;
    font-weight: 400;
    padding: 1.5rem;
}

.sub2{
    padding: 10px;
  text-align: center;
}

.title2{
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color: #E3EAD7;
   
}


input{
    background-color: white;
    font-size: 20px;
    
    height: 40px;
    width: 500px;
    margin-left: 74px;
    
    display:flex;
    
    flex-direction: column;
    align-items: center;
    align-content: space-around;

    border-radius: 6px;
}

.um{
    width: 900px;
    display: flex;
    padding: 20px;
}

.dois{
    width: 900px;
    display: flex;
    padding: 20px;
} 


.flex-container2{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}

.col1{

}

.col2{

}

.col3{


}

.button{
    
        background-color: #1d0c20;
        border: none;
        padding: 5px;
        width: 90px;
        height: 45px;
        border-radius: 5px;
        color: white;
        margin-top: 20px;
        cursor: pointer;
    
}