body{
    background-color: #CCCCCC;
   font-size:  Arial, Helvetica, sans-serif;
    
    height: 100%;
}

.container{
    margin: auto;
    flex-direction: column;
    
    
    width: 750px;
    
    
    text-align: center;
    padding: 8px;
    padding-top: 4px;
    background: linear-gradient(180deg, rgba(33,13,37,1) 0%, rgba(67,22,75,1) 29%, rgba(99,31,111,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 15px;
  
  
}

.flex-container{
    display: flex;
    height: 70%;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(93,29,104,1) 0%, rgba(69,23,77,1) 29%, rgba(31,12,34,1) 100%);
    border-radius: 15px;
    
    }

.title{
    text-align: center;
    color: #f3d044;
    font-size: 30px;
    font-weight: 700;
    padding: 1rem;
}

.subtitle{
    text-align: center;
    color: #E3EAD7;
    font-size: 15px;
    font-weight: 400;
    padding: 1.5rem;
}

.sub2{
    padding: 10px;
  text-align: center;
}

.title2{
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color: #E3EAD7;
   
}


input{
    background-color: white;
    font-size: 20px;
    
    height: 40px;
    width: 500px;
    margin-left: 74px;
    
    display:flex;
    
    flex-direction: column;
    align-items: center;
    align-content: space-around;

    border-radius: 6px;
}

.um{
    
    display: flex;
    padding: 20px;
}

.dois{
    
    display: flex;
    padding: 20px;
} 

.flex-container2{
    width: 90%;
    color: #E3EAD7;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1rem;
    
}

.cols{
    background-image: linear-gradient(#2638DB,#342989);
    border-radius: 0.5rem;
    margin-left: 20px;
}

.subcol{
    
    padding: 0.5rem;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#3E60EF,#72CBFE);
    margin: 10px;
    text-align: center;
}

button{
    background-color:#1D0C20 ;
    color: #ffffff;
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 64%;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    
}

.fot{
     color: #E3EAD7;
    margin-top: 12px;
    font-size: 12px;
}

.b{
font-weight: bold;
}

@media screen and (max-width: 820px){

   .container{
     width: 95%;
    
    }

    input{
        border-radius: 0.25rem;
        border: none;
        margin:0.5rem;
        width: 80%;
        align-self: center;
        height: 32px;
        line-height: normal;
        font-size: 1rem;
        font-weight: 400;
     
    }

  
    

    .flex-container2{
    
        flex-direction: column;
        align-items: center;
        
    }
    
    .subcol{
         padding-top: 3rem;
    
    }
    
    .cols{
        
        min-width:80%;
        margin: 1rem;
    }
}
    
